* {
	box-sizing: border-box;
	}

		body {
			background-color: white;
			margin: 0;
			overflow: scroll;
			overflow-x: hidden;
		}

		.pgtitle{
			background-color: #FADAEA;
			background-size: auto;
			display: block;
			text-align: left;
			padding-top: 60px;
			padding-left: 50px;
			position: relative;
			bottom: 30px;
			color: #2F3C7E;
			border-bottom-style: solid;
			font-family: plaquette, sans-serif;
			font-size: 30px;
			}
	
		ul { 
		 	list-style-type: none;
		 	overflow: none;
		 	text-align: center;
		 	background-color: #FBEAEB;
		 	
		 }
		 
		 li a {
		 	float: left;
		 	display: inline;
		 	color: #2F3C7E;
		 	padding: 12px 20px;
		 	margin:-55px 0px 40px 15px;
		 	position: relative;
		 	left: 420px;
		 	bottom: 37px;
		 	text-decoration:none; 
		 	font-family: plaquette, sans-serif;
			font-size: 18px;
		 }

		 li a:hover {
		 	background-color: #FBEAEB;
		 	color: #263490;
		 	border-bottom: solid;
		 	max-height: 37px;
		 }

		 .vl { 
		 	width: 5px;
		 	background-color:#2F3C7E;
		 	position: absolute;
		 	top: 52px;
		 	bottom: 100px;
		 	left: 400px;
		 	height: 40px;
		 	border-top-right-radius: 5px;
		 }
		 
		 h1{
		 	float: left;
		 	position: fixed;
		 	left: 150px;
		 	color: #2F3C7E;
		 	font-family: plaquette, sans-serif;
		 	font-size: 30px;
		 	padding-left:30px;
		 	padding-right: 30px;
		 	top: 150px;
		 	}
		 p{
		 	font-size:20px;
		 	text-align: center;
		 	margin-top: 50px;
		 	margin-left: 400px; 
		 	width: 50%;
		 	font-family: plaquette, sans-serif;

		 }

		 .title{
		 	text-align: center;
		 	margin-top: 100px;
		 	margin-left: 60px;
		 	font-family: plaquette, sans-serif;
		 	color: #2F3C7E;
			font-size: 30px;
		 }

		 .row {
		 	display: table;
		 	position: relative;
		 	left: 540px;
		 	top: 40px;
		 	background-color: #FBEAEB;
		 	padding: 20px;
		 	padding-right: -10px;
		 }

		 .column{
		 	float: left;
		 	margin: 0px 10px 10px 0px;
		 	padding: 10px;
		 }

		 .column h2 {
		 	border-bottom: solid;
		 }

		 .column  ul{
		 	text-align: left;
		 	margin-top: 10px;
		 	list-style-type: disc;
		 }

		 .column li{
		 	margin-top: 5px;
		 }

		 .row, .column {
		 	font-family: plaquette, sans-serif;

		 }

		  .social {
		 	position: absolute;
		 	font-family: plaquette, sans-serif;
		 	height: 50px;
		 	bottom: -200px;
		 	left: 0px;
		 	height: 8%;
		 	width: 100%;
       		background-color: #FADAEA;
       		color: #2F3C7E;
		 }

		 .social li{
		 	position: relative;
		 	float: left;
		 	bottom: 39px;
		 	margin-right: 20px;
		 	margin-left: 30px;
		 	left: 65px;
		 }

		 .social h3 {
		 	margin-left: 9px;
		 }
		 	

