* {	box-sizing: border-box;}

body {
	background-color:#1E1E1E ;
	margin: 0;
	/*overflow: scroll;*/
	overflow-x: hidden;
	overflow-y: hidden;
}

#pgtitle{
	background-color: #1E1E1E;
	background-size: auto;
	display: block;
	text-align: left;
	padding-top: 60px;
	padding-left: 50px;
	position: relative;
	bottom: 30px;
	color: #4cb69f;
	border-bottom-style: solid;
	margin-right: 1160px; 
	margin-left: 10px;
	font-family: plaquette, sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
}

#intro h2{
	text-align: left;
	color: white;
	margin-top: -60px;
	margin-left: 400px;
	font-family: dejaVu Sans Mono, monospace;
	font-size: 30px;
	position: fixed;
}

#intro p{
	text-align: left;
	color: white;
	margin-top: 20px;
	margin-left: 400px;
	font-family: dejaVu Sans Mono, monospace;
	font-size: 20px;
	position: fixed;
}

#dp{
	margin-left: 940px;
	position: fixed;
	bottom: 55px;
}

.nav {
	text-align: left;
	overflow: none;
	list-style-type: none;
}

/*drop down css from w3 schools:  https://www.w3schools.com/howto/howto_css_dropdown.asp*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a#active{
	color: white;
}

.dropdown-elements {
  display: none;
  position: absolute;
}

.dropdown-elements a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-elements a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-elements {display: block;}

.dropdown:hover .btn {
	color: white
	padding: 12px 20px;
}

.nav a{
	display: block;
	color: #4cb69f;
	padding-top: 20px;
	margin-left: 70px;
	margin-right: 1300px; 
	padding: 12px 20px;
	position: relative;
	text-decoration:none; 
	font-family: dejaVu Sans Mono, monospace;
	font-size: 22px;
	font-weight: bold;
	font-stretch: semi-expanded;
	letter-spacing: 1px;

}

.nav a:hover {
	color: white;
	text-decoration: underline;
}

.nav a#active{
	color: white;
}

.recent-list-style {
	background-color: transparent;
	position: relative;
	left: -190px;
	top: 45px;
	font-family: plaquette, sans-serif;
	color: #00303F ; 
	font-size: 15px; 
	text-align: center; 	
}
/*
.vl { 
	width: 2px;
	background-color: #4cb69f;
	position: fixed;
	top: 90px;
	left: 374px;
	height: 80px;
}
*/
.links{
	position: relative;
	left: 300px;
	top:80px;
	display: block;
	margin-left: 40px;
	float: left;
	text-align: center;
	text-decoration: none;
}

.links img{
	margin-right: 30px;
	border:solid;
	display: block;
	position: relative;
	color: #00303F;
}

.links a {
	text-decoration: none;
	color: #00303F;
}

.links a:hover {
	text-decoration: underline;
}

.social{
	position: fixed;
}
.social a{
	position: relative;
	left: 60px;
	top: 190px;
	margin-right: 20px;
	margin-left: 30px;
	background-color: transparent;
	display: block;
}


