* {
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;

}

body {
	background-color: #54405b;
	/* #7f7f7f */
	/* #721c24 */
	/* 85888c */
	color: white;
	font-family: dejaVu Sans Mono, monospace;
}

#pgtitle{
	background-size: auto;
	display: block;
	text-align: left;
	padding-top: 60px;
	padding-left: 50px;
	position: relative;
	bottom: 30px;
	color: #f2f2f2;
	border-bottom-style: solid;
	margin-left: 10px;
	font-family: plaquette, sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 540;
	width: 20%;
	grid-column: 1;
	grid-row: 1;
}

#nav-stack{
	text-align: center;
	display: block;
}

#intro{
	margin-top: 13%;
	grid-column: 1;
}

#intro h2{
	font-size: 30px;
}

#intro p{
	margin-top: 20px;
	font-size: 20px;
}

p{
	font-size: 16.5px;
}

#pol{
	/* display: block; */
	width: 350px;
	/* border-width: 20px; */
	margin-top: 66px;
	grid-column: 2;
	margin-left: 20px;
}

#me_pic{
	border-style: solid;
	border-color: #e2e3f1;
}

.nav {
	text-align: left;
	list-style-type: none;
	position: fixed;
	grid-column: 1;
	grid-row: 2;
	
}

.nav a{
	display: block;
	color: #f2f2f2;
	padding-top: 20px;
	margin-left: 70px;
	margin-right: 1300px; 
	padding: 12px 20px;
	position: relative;
	text-decoration:none; 
	font-family: dejaVu Sans Mono, monospace;
	font-size: 22px;
	font-weight: bold;
	font-stretch: semi-expanded;
	letter-spacing: 1px;

}

.nav a:hover {
	background-color:#e2e3f1;
	color: #241529;
	border-radius: 20px;
}

.nav a.active{
	color: black;
}

.recent-list-style {
	background-color: transparent;
	position: relative;
	left: -190px;
	top: 45px;
	font-family: plaquette, sans-serif;
	color: #00303F ; 
	font-size: 15px; 
	text-align: center; 	
}

.links{
	position: relative;
	left: 300px;
	top:80px;
	display: block;
	margin-left: 40px;
	float: left;
	text-align: center;
	text-decoration: none;
}

.links img{
	margin-right: 30px;
	border:solid;
	display: block;
	position: relative;
	color: #00303F;
}

.links a {
	text-decoration: none;
	color: #00303F;
}

.links a:hover {
	text-decoration: underline;
}

.social{
	margin-top: 100px;
}

.social a:hover{
	background-color: #4f5470d9;
}

.section{
	text-align: center;
	margin-left: 450px;
	font-family: dejaVu Sans Mono, monospace;
	display: grid;
	margin-right: 40px;
	margin-bottom: 60px;
	column-gap: 20px;
}

.skills{
	padding: 30px;
	border-radius: 20px;
	text-align: center;
	background-color: #4f5470d9;
}

.desc{
	text-align: center;
	border-bottom: solid #f2f2f2;
}

.list{
	margin-top: 30px;
}

.list ul{
	list-style-type: none;
	padding-inline-start: 0%;
	text-align: center;
}

#lang-list ul{
	padding-left: 40px;
}

#lang-list ul li:first-child{
	list-style-type: none;
}

#lang-list li {
	list-style-type: disc;
 	float: left;
 	padding:5px;
	margin: 10px;
	padding-right: 10px;
}

#languages{
	grid-column: 1
}
#experience{
	grid-column: 2;
}

.row2{
	text-align: center;
	border-top-left-radius: 20px ;
	display: grid;
	grid-template-columns: repeat(2, 50%)
}

#proj-intro{
	margin: 40px 0px;
}

.proj-desc{
	margin: 10px;
	float: left;
	border-radius: 20px;
	text-align: center;
	background-color: #e2e3f1;
}


.proj-desc:hover{
	background-color: black;
}

.proj-desc a{
	margin-top: -10px;
	color: black;
	padding: 50px;
	display: inline-block;
}

.proj-desc a:hover{
	color: #e2e3f1;
	text-decoration: none;
} 



