* {
			box-sizing: border-box;
		}

		body {
			background-color: white;
			margin: 0;
			overflow: scroll;
			overflow-x: hidden;
		}

		h2 {
			background-color: #FBEAEB;
			background-size: auto;
			display: block;
			text-align: left;
			padding-top: 60px;
			padding-left: 50px;
			position: relative;
			bottom: 30px;
			color: #2F3C7E;
			border-bottom-style: solid;
			font-family: plaquette, sans-serif;
			font-size: 30px;
			}
	
		ul { 
		 	list-style-type: none;
		 	overflow: none;
		 	text-align: center;
		 	background-color: #FBEAEB;
		 	
		 }
		 
		 li a {
		 	float: left;
		 	display: inline;
		 	color: #2F3C7E;
		 	padding: 12px 20px;
		 	margin:-55px 0px 40px 15px;
		 	position: relative;
		 	left: 300px;
		 	bottom: 37px;
		 	text-decoration:none; 
		 	font-family: plaquette, sans-serif;
			font-size: 18px;
		 }

		 li a:hover {
		 	background-color: #FADAEA;
		 	color: #263490;
		 	border-bottom: solid;
		 	max-height: 37px;
		 }

		.recent-list-style {
			list-style-type: none;
		 	background-color: white;
		 	position: relative;
		 	left: -152px;
		 	top: 45px;
		 	font-family: plaquette, sans-serif;
		 	color: #2F3C7E; 
			font-size: 15px;  	
		 }

		 .vl { 
		 	width: 5px;
		 	background-color:#2F3C7E;
		 	position: absolute;
		 	top: 52px;
		 	bottom: 100px;
		 	left: 215px;
		 	height: 40px;
		 	border-top-right-radius: 5px;
		 }
		 
		 .links{
		 	position: relative;
		 	left: 300px;
		 	top:80px;
		 	display: block;
		 	margin-left: 40px;
		 	float: left;
		 	text-align: center;
		 }
		 .links img{
		 	margin-right: 30px;
		 	border:solid;
		 	display: block;
		 	position: relative;
		 }
