* {
	box-sizing: border-box;
}

body {
	background-color: white;
	margin: 0;
}

h2 {
	background-color: #FBEAEB;
	background-size: auto;
	display: block;
	text-align: left;
	padding-top: 60px;
	padding-left: 50px;
	position: relative;
	bottom: 30px;
	color: #2F3C7E;
	border-bottom-style: solid;
	font-family: plaquette, sans-serif;
	font-size: 30px;
}
	
ul { 
 	list-style-type: none;
 	overflow: none;
 	text-align: center;
 	background-color: #FBEAEB;	
 }
		 
li a {
 	float: left;
 	display: block;
 	color: #2F3C7E;
 	padding: 14px 20px;
 	margin:-55px 0px 40px 15px;
 	position: relative;
 	left: 300px;
 	bottom: 37px;
 	text-decoration:none; 
 	font-family: plaquette, sans-serif;
	font-size: 20;
}

li a:hover {
 	background-color: white;
 	border-bottom: solid;
}

h3 {
	float: left;	 	
}

	

